name: 'Test'

on:
  push:
    branches:
      - "main"
      - "feat**"
    tags-ignore:
      - "**"
  pull_request:

env:
  TARGET: rclone_backup

jobs:
  build:
    name: Test Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v2
    - name: Setup yq
      uses: frenck/action-setup-yq@v1
    - name: Get addon information and update build args
      id: information
      uses: ./.github/actions/addon-info
    - name: Test build
      uses: home-assistant/builder@master
      with:
        args: |
          --test \
          --all \
          --target ${{ env.TARGET }} \
          --image ${{ steps.information.outputs.image }} \
          --docker-hub ${{ steps.information.outputs.repository }}
